<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div
    class="page-header d-flex align-items-center"
    style="background-image: url('assets/img/page-header.jpg')"
  >
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="text-center col-lg-6">
          <h2>Track your Logages</h2>
          <p>Welcome To The Logage Tracking Department!!</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Track Item</li>
      </ol>
    </div>
  </nav>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Get a Quote Section ======= -->
<section id="track_Item" class="track_Item">
  <div class="container" data-aos="fade-up">
    <div class="row g-0">
      <div
        class="col-lg-5 quote-bg"
        style="background-image: url(assets/img/quote-bg.jpg)"
      ></div>

      <div class="col-lg-7">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="php-email-form">
          <h3>Tracker Dashboard</h3>
          <p style="color: cadetblue">
            Kindly Type/paste your Tracking Code here...
          </p>

          <div
            class="mb-3 form-search d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <input
              type="text"
              class="form-control"
              placeholder="Enter Tracking Code..."
              formControlName="trackingId"
            />

            <button type="submit" class="btn btn-primary">
              @if(isLoading()){ Tracking... }@else{ Track }
            </button>
          </div>
          @if(form.controls['trackingId'].errors &&
          form.controls['trackingId'].dirty){
          <p class="text-error">
            @if(form.controls['trackingId'].errors['required']){ Tracking code
            is required }
          </p>
          }
        </form>
      </div>
      <!-- End Quote Form -->
    </div>
    @if(product()){
    <!-- <app-result [trackingCode]="trackingCode()" /> -->
    <app-product-tracking-result
      [trackingNumber]="trackingCode()"
      [product]="this.product()!"
    />
    }
  </div>
</section>
<!-- End Get a Quote Section -->
